* {
	margin:0;
	padding:0;
}

.header {
  border-bottom: 1px solid grey;
	position: fixed;
  z-index: 100;
	top: 0;
	width: 100vw;
	background-color: #E6E6E6;
}

.header__style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.header__title {
  margin: 0;
  display: flex;
  justify-content: center;
	font-size: 50px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 80px;
}

.menu__item {
  padding-bottom: 5px;
}

.menu__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.menu__link:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 16px;
	transition: color ease 1s, border-color ease 1s;
}

.link__share, .link__search, .link__bell, .link__heart, .link__avatar {
  vertical-align: middle;
  border-style: none;
  height: 30px;
  width: 30px;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 100px 30px 30px 30px;
}
.section__right{
  width: 1200px;;
}

.section__comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.section__avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid grey;
}

.link__avatar {
  margin-right: 10px;
}

.comments__avatar {
  margin-right: 10px;
}
.section__text {
  margin: 0;
}

.button, .buttons {
  width: 80px;
  border: none;
}

.comments, .share {
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
}

.section__number {
  margin-left: 10px;
}

.link__happy {
  vertical-align: middle;
  border-style: none;
  width: 875px;
  height: 405px;
	margin-bottom: 15px;
}
.link__happy:hover {
	filter: grayscale(80%);
	cursor: pointer;
}

.buttons {
  margin-right: 20px;
}

.section__buttons {
  margin-bottom: 20px;
}

.border__line {
  display: flex;
  justify-content: space-between;
}

.line {
  width: 600px;
}

.section__form {
  border: 1px solid grey;
  height: 360px;
}

.form__text {
  margin: 10px;
}

.form {
  margin: 40px 10px 10px;
}

.input__text {
  display: flex;
  justify-content: space-between;
}

.text__name {
  width: 300px;
  height: 40px;
}

.send__form {
  margin: 20px 0 0;
  background-color: #81BEF7;
  color: #fff;
  width: 200px;
  height: 40px;
  border: none;
}

.send__form:hover {
	background: #fff;
	color: #81BEF7;
	font-size: 20px;
	box-shadow: inset 0 0 0 3px #81BEF7;
}

.thanks{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #fff;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transition: all .3s;
	text-align: center;
	padding-top: 100px;
}


.thanks{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #6E6E6E;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transition: all .3s;
	text-align: center;
	padding-top: 100px;
	animation-duration: 5s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes intro {
  from {
    transform: scale(10) rotate(-150deg);
    opacity: 0;
    color: #fff;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.show{
	display: block;
}

.show h2{
	font-size: 20px;
	margin-top: 34px;
}

.thanks.show p {
	font-size: 16px;
	margin-top: 20px;
}

.logo_thanks{
	width: 200px;
	margin-top: 28px;
}

.character {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin: 0 0 0 20px;
  height: 458px;
}

.text {
  text-align: justify;
}

.link__darwin, .link__firm {
  vertical-align: middle;
  border-style: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 20px 60px 30px 20px;
}

.text__character {
  text-align: justify;
  margin: 5px 10px;
}

.social__networks{
  display: flex;
  justify-content: space-around;
}

.link__social {
  width: 15px;
  height: 15px;
}

.section__post{
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
  height: 525px;
}

.section__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.line__post {
  width: 300px;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.post__image {
  vertical-align: middle;
  border-style: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.post__text {
  font-size: 14px;
  margin: 0 10px;
  text-align: justify;
}

.categories__section {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
}

.section__categories {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.span {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
}

.button__place {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.button__style{
	margin-left: 15px;
}

.border__section {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.line_border{
	width: 1100px;
}

.container {
	width: 210px;
	height: 300px;
	position: relative;
	margin: 0 auto 40px;
	perspective: 1100px;
}

#carousel .figure {
	 display: block;
	 position: absolute;
	 width: 100%;
   height: 100%;
	 left: 10px;
	 top: 10px;
	 border: 2px solid rgba(   0, 0, 0, 0.8 );
	 font-weight: bold;
	 text-align: center;
	 margin: 0;
	background-color: #E6E6E6;
 }

 #carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform: translateZ( -288px ) rotateY(-360deg);
	transform-style: preserve-3d;
	transition: transform 1s;
}

#carousel .figure:nth-child(1) {
 transform: rotateY(   0deg ) translateZ( 288px );
}
#carousel .figure:nth-child(2) {
 transform: rotateY(  40deg ) translateZ( 288px );
}
#carousel .figure:nth-child(3) {
 transform: rotateY(  80deg ) translateZ( 288px );
}
#carousel .figure:nth-child(4) {
 transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel .figure:nth-child(5) {
 transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel .figure:nth-child(6) {
 transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel .figure:nth-child(7) {
 transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel .figure:nth-child(8) {
 transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel .figure:nth-child(9) {
 transform: rotateY( 320deg ) translateZ( 288px );
}

.container__carousel {
	display: flex;
	flex-direction: column;
}

.button_carousel {
	width: 80px;
  border: none;
	margin: 20px 0 0 10px;
	background-color: #fff;
}

.figure__text {
	font-size: 12px;
	margin: 10px 0 0 0;
}

.carrousel__image {
	height: 115px;
	position: absolute;
	right: 20px;
	top: 156px;;
}

.carrousel__images {
	height: 115px;
  position: absolute;
  right: 10px;
  top: 17px;
}

.buttons_carousel {
	width: 80px;
  border: none;
	margin: 160px 0 0 10px;
	background-color: #fff;
}

#options {
	display: flex;
	justify-content: space-around;
}

.buttons_navigation {
	width: 80px;
  border: none;
}

.line__follow {
width: 1000px;
}

.image__instagram {
  margin: 20px 0 30px 30px;
}

.instagram__images {
	height: 200px;
	margin-right: 20px;
}

.instagram__images:hover{
	border-radius:50%;
	box-shadow: 0px 0px 15px 15px #E6E6E6;
	transform: rotate(360deg);
}

.line__footer {
	width: 1000px;
}

.footer {
	display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.menu__footer {
	display: flex;
  justify-content: space-between;
  list-style: none;
  width: 600px;
  margin-left: 20px;
}
